<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to Public Folder
    RewriteRule ^(.*)$ public/$1 [L]

    # Remove The index.php file file from url
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>